<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <h3 class="card-title">현재 강의가 없습니다.</h3>



                <!-- <button type="button" class="btn btn-outline-primary" (click)="this.dbcall()">강의 올리기</button> -->

                <!-- form(action='upload' method='post' enctype="multipart/form-data")
      input(type='file' name='userfile')
      input(type='submit') -->

                <form action="upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="userfile"/>
                    <input type="submit"/>
                </form>





                <!-- <video controls>
                    <source src="../../../assets/video/small.mp4"/>
                    <source src="../../../assets/video/small.ogv"/>
                </video> -->



                
                
            </div>
        </div>
    </div>
</div>