<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <div class="card-body">
                        <h6 class="card-category text-gray">JAVA / python</h6>
                        <h4 class="card-title">이현준</h4>
                        <p class="card-description">
                             Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">질문 작성하러가기</a>
                    </div>
                
            </div>
        </div>
    </div>
</div>