<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="width: 100%" >

                <div class="lec1" style="width: 20%">              
                    <img src="../../../../assets/images/{{this.lecture.l_img}} " style="width: 100%; height: -1%; float: left; margin-right: 15%"/>
                </div>

                <div class="lec1" style="width: 40%; float: left; margin-top: 30px">              
                        <h4 class="card-title">강의명: {{this.lecture.l_title}}</h4>
                        <h5 class="card-title">분야: {{this.lecture.c_name}}</h5>
                        <h5 class="card-title">강사명: {{this.lecture.lm_name}}</h5>
                        <h5 class="card-title">이메일: {{this.lecture.lm_email}}</h5>
                        <br>
                       

                        <p>
                            강의소개<br>
                            {{this.lecture.l_intro}}

                        </p>
                </div>
            </div>
        </div>

        <div class="card">
                <div class="card-body" >
                  
                    강의 리스트
                    
                </div>
            </div>
    </div>
</div>