<style>
    #user_name{
        margin-top: 20px;
    }
</style>


<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img id="user_img" src="assets/images/users/ice.jpg" alt="user" /> </div>
            <!-- User profile text-->
            <div class="profile-text"> <span id="user_name"> </span>
                <!-- <div id="user_drop" class="dropdown-menu animated flipInY">
                    <a href="#" class="dropdown-item"><i class="ti-user"></i>프로필</a>
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> 즐겨찾기</a>

                    <div class="dropdown-divider"></div> <a (click)="this.logout()" href="#" class="dropdown-item"><i class="fa fa-power-off"></i>
                        Logout</a>
                </div> -->
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li [class.active]="showMenu === 'starter'">
                    <a routerLink="/starter" (click)="addExpandClass('starter')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-file"></i><span class="hide-menu">Main</span></a>
                </li>
                <!-- <li *ngIf="this.email">
                        <a routerLink="/profile" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi mdi-sort-variant"></i><span class="hide-menu">프로필</span></a>
                    </li> -->
                <li *ngIf="this.email">
                    <a routerLink="/portpolio" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                        class="mdi mdi-calendar-clock"></i><span class="hide-menu">포트폴리오</span></a>
                </li>
                <li class="nav-small-cap">CODEMOA ITEM</li>
                <li>
                    <a routerLink="/user" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-equal"></i><span class="hide-menu">질문 및 답변</span></a>
                </li>
                <li>
                    <a routerLink="/lecture" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                        class="mdi mdi-tablet"> </i><span class="hide-menu">강의</span></a>
                </li>
                
                <li>
                    <a routerLink="/bookmark" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                        class="mdi mdi mdi-image-filter-vintage"></i><span class="hide-menu">즐겨찾기</span></a>
                </li>
                
                <!-- <li>
                    <a routerLink="/component/accordion" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-equal"></i><span class="hide-menu">Accordion</span></a>
                </li>
                <li>
                    <a routerLink="/component/alert" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-message-bulleted"></i><span class="hide-menu">Alert</span></a>
                </li>
                <li>
                    <a routerLink="/component/carousel" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-view-carousel"></i><span class="hide-menu">Carousel</span></a>
                </li>
                <li>
                    <a routerLink="/component/dropdown" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Dropdown - Collapse</span></a>
                </li>
                <li>
                    <a routerLink="/component/modal" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-tablet"></i><span class="hide-menu">Modal</span></a>
                </li>
                <li>
                    <a routerLink="/component/pagination" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-backburger"></i><span class="hide-menu">Pagination</span></a>
                </li>
                <li>
                    <a routerLink="/component/poptool" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-image-filter-vintage"></i><span class="hide-menu">Popover & Tooltip</span></a>
                </li>
                <li>
                    <a routerLink="/component/progressbar" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-poll"></i><span class="hide-menu">Progressbar</span></a>
                </li>
                <li>
                    <a routerLink="/component/rating" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-bandcamp"></i><span class="hide-menu">Ratings</span></a>
                </li>
                <li>
                    <a routerLink="/component/tabs" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-sort-variant"></i><span class="hide-menu">Tabs</span></a>
                </li>
                <li>
                    <a routerLink="/component/timepicker" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-calendar-clock"></i><span class="hide-menu">Timepicker</span></a>
                </li>
                <li>
                    <a routerLink="/component/buttons" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-blur-radial"></i><span class="hide-menu">Button</span></a>
                </li>
                <li>
                    <a routerLink="/component/cards" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-arrange-bring-forward"></i><span class="hide-menu">Card</span></a>
                </li> -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a id="log" (click)="this.logState()" class="link" data-toggle="tooltip" title="Login"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>