
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">      
                <a href="/user">{{subtitle}}</a>
                <button type="button" class="btn btn-outline-primary" (click)="this.dbcall()">DB를 불러주세요</button>

                <h3>질문 및 답변</h3>

                <table mdbTable>
                    <tr mdbTableCol>
                        <th>제목</th>
                        <th>작성자</th>                        
                    </tr>
                    <tr mdbTableCol>
                        <td><a routerLink="/user/question">angular 하는법좀 알려주세요...</a></td>
                        <td>이현준</td>                        
                    </tr>
                    <tr mdbTableCol>
                        <td>이게 무엇인가요</td>
                        <td>박현준</td>                        
                    </tr>
                    <tr mdbTableCol>
                        <td>안녕하세요</td>        
                        <td>최현준</td>                
                    </tr>
                    
                </table>


            </div>
        </div>
    </div>
</div>