<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">      
                <!-- <a href="/user">{{subtitle}}</a> -->
                <!-- <button type="button" class="btn btn-outline-primary guswls"  (click)="this.dbcall()">DB를 불러주세요</button> -->

                <h3 class="card-subtitle">Q & A</h3>        

                <table id="question_table" mat-table class="mat-elevation-z8">
                    <tr width=50%>
                        <th class="th1" mat-header-cell witdth="30%">작성자</th>
                        <th mat-header-cell width="70%">제목</th>                        
                    </tr>
                    

                    <tr class="table_hover" *ngFor="let question of this.data" (click)="this.qDetail(question)">
                        <td mat-cell>{{question.m_name}}</td>  
                        <td mat-cell>{{question.q_title}}</td>    
                    </tr>
                    
                </table>

                <div id="questionF" class="login-item">
                    <form #myform="ngForm" (ngSubmit)="this.queust_input(myform)" class="form form-login">
                        <div class="form-field">
                            <label class="user" for="login-email"><span class="hidden">제목</span></label><br>
                            <input name="q_title" id="login-email" type="email" class="form-input" required ngModel>
                            </div><br>

                            <div class="form-field">
                                <label class="user" for="login-email"><span class="hidden">카테고리</span></label><br>
                                <input name="category" id="login-email" type="email" class="form-input" required ngModel>
                            </div><br>

                  
                          <div class="form-field">
                            <label class="lock" for="login-password"><span class="hidden">Content</span></label><br>
                            <!-- <input name="password" id="login-password" type="password" class="form-input" placeholder="Password" required ngModel> -->
                            <textarea name="q_content" class="form-field" required ngModel>


                            </textarea>
                          </div><br>
                  
                          <div class="form-field">
                            <input id="log_button" type="submit" value="질문하기" class="btn-primary">
                        </div>
                    </form>
                </div>



                <br>

                <button id="questButton" class="btn-primary" (click)="this.showForm()">질문하기</button>

            </div>
        </div>
    </div>
</div>