<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">      
                <h4 class="card-subtitle">질문 및 답변</h4>        

                <table id="question_table" mat-table class="mat-elevation-z8" style="text-align: center">
                    <tr width=50%>
                        <th class="th1" mat-header-cell witdth="30%">작성자</th>
                        <th>분야</th>
                        <th mat-header-cell width="60%">제목</th>      
                        <th>답변 수</th> 
                        <th>작성일</th>
                        <th>조회수</th>                 
                    </tr>
                    

                    <tr class="table_hover" *ngFor="let question of this.data" (click)="this.qDetail(question)">
                        <td mat-cell>{{question.m_name}}</td>  
                        <td>{{question.c_name}}</td>
                        <td mat-cell>{{question.q_title}}</td> 
                        <td mat-cell>{{question.awn_count}}</td>     
                        <td mat-cell>{{question.qq_date}}</td>
                        <td mat-cell>{{question.q_view}}</td>
                    </tr>
                    
                </table>

            </div>
        </div>
    </div>
</div>